@import "mixins";
$primary: #1F9AF3;
body {
  font-family: 'Montserrat', sans-serif;
  color: #212121;
}

.container.container-large {
  max-width: 1240px;
}
@media (min-width: 1200px){
  .container {
    max-width: 960px;
  }
}

.navbar-brand {
  font-weight: 600;
  font-size: 26px;

  color: #212121;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: normal;
  font-size: 12px;
  color: #757575;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: $primary;
}

.text-primary {
  color: $primary;
}
//@include padding(6, 40px);
//@include padding(7, 65px);
@include padding(6, 120px);
@include padding(7, 150px);
#about{
  .hero{
    padding-top: 200px;
    padding-bottom: 200px;
    &-title{
      font-weight: 600;
      font-size: 26px;
      line-height: normal;
      letter-spacing: -0.02em;
      padding-bottom: 40px;
    }
    &-phone{
      position: absolute;
      top: 0px;
      width: 100%;
      text-align: center;
    }
  }
}
.title{
  font-weight: 600;
  font-size: 34px;
  line-height: 50px;
  letter-spacing: -0.02em;
  padding-bottom: 40px;
}
.description{
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
  strong{
    font-weight: bold;
  }
  &-small{
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
  }
}
.small{
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;

  color: #212121;

  opacity: 0.6;
}
.bg-primary-light{
  background-color: #DEEFFF;
}
.bg-lighter{
  background-color: #f8f8f8;
}
.xl-text{
  font-size: 175px;
  line-height: 256px;
  letter-spacing: 0.02em;

  padding-bottom: 106px;
}

@media only screen and (min-width: 992px){
  #integration{
    background: url("../img/integration-bg.png") right bottom no-repeat #f8f8f8;
  }
}

.blog{
  &-title{

    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.02em;
    margin-bottom: 23px;
  }
  &-description{
    font-weight: 300;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -0.02em;
    margin-bottom: 21px;
  }
  &-small{
    font-weight: 300;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: -0.02em;
    margin-bottom: 17px;

    color: #757575;
  }
}
.person{
  .name{
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.02em;
    margin-top: 30px;
  }
  .position{
    font-weight: 300;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: -0.02em;
    margin-bottom: 19px;
    color: #757575;
  }
  .description{
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.02em;
    p{
      margin-bottom: 19px;
    }
  }
}
.contacts{
  &-title{
    font-weight: 300;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -0.02em;
    margin-top: 29px;
    margin-bottom: 29px;
  }
  &-link{
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.02em;

    color: #212121;
    &:hover, &:focus{
      color: $primary;
      text-decoration: none;
    }
  }
  &-small{
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.02em;

    color: #757575;
  }
}

@media only screen and (max-width: 575.98px){
  #about {
    .hero {
      padding-top: 100px;
      padding-bottom: 120px;
      &-title {
        font-size: 22px;
      }
    }
  }
  .xl-text{
    font-size: 100px;
    line-height: 150px;
    padding-bottom: 40px;
  }
  @include padding(6, 80px);
  @include padding(7, 100px);
}